<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<body>

<footer th:fragment="copy">
    &copy; 2017 The Good Thymes Virtual Grocery
</footer>

<div th:fragment="footer_js">


    <!-- jQuery -->
    <script th:src="@{/vendor/jquery/jquery.min.js}" src="vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script th:src="@{/vendor/bootstrap/js/bootstrap.min.js}" src="vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script th:src="@{/vendor/metisMenu/metisMenu.min.js}" src="vendor/metisMenu/metisMenu.min.js"></script>

    <!-- DataTables JavaScript -->
    <script th:src="@{/vendor/datatables/js/jquery.dataTables.min.js}"
            src="vendor/datatables/js/jquery.dataTables.min.js"></script>
    <script th:src="@{/vendor/datatables-plugins/dataTables.bootstrap.min.js}"
            src="vendor/datatables-plugins/dataTables.bootstrap.min.js"></script>
    <script th:src="@{/vendor/datatables-responsive/dataTables.responsive.js}"
            src="vendor/datatables-responsive/dataTables.responsive.js"></script>

    <!-- Custom Theme JavaScript -->
    <script th:src="@{/js/sb-admin-2.js}" src="js/sb-admin-2.js"></script>

    <script>
        $(document).ready(function () {
            $('#dataTables-example').DataTable({
                responsive: true
            });
        });
    </script>

</div>
</body>

</html>