<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Layout Title will be replaced by Page Title!</title>
    <object th:include="include/top_header :: top_js" th:remove="tag"/>

</head>
<body>

<div id="wrapper">

    <div th:include="include/top_header :: top_menu" th:remove="tag"></div>

    <div id="page-wrapper" th:include="this :: content">
        sss
    </div>

    <!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->
<div th:include="include/footer :: footer_js" th:remove="tag"></div>
</body>

</html>
